<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 设置一个默认的连接环境信息，支持多数据源 -->
	<environments default="development">
		<!-- 连接环境信息，取一个唯一的编号 -->
		<environment id="development">
			<!-- mybatis使用的jdbc事务管理方式 -->
			<transactionManager type="jdbc">
			</transactionManager>
			<!-- mybatis使用连接池方式来获取链接 -->
			<dataSource type="pooled">
				<!-- 配置与数据库交互的四个属性 -->
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://xuzhihao:3306/mall?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=Asia/Shanghai" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="net.xzh.mbg.mapper" />
	</mappers>
</configuration>